form {
  margin-top: 17%;
  padding: 10px 15px;
  width: 310px;
  min-height: 310px;
}

.desktop-form {
  float: left;
  margin-left: 10%;
}

canvas {
  padding: 5px;
  margin: 17% 0;
}

.ui-slider {
  position: relative;
  z-index: 0;
}

.desktop-canvas {
  float: right;
  margin-right: 10%;
}

form .form-group {
  margin: 15px 0;

}

form button {
  margin-top: 30px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
}

.btn-block {
  width: 150px;
}

form input[type=text], form select {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  border-radius: 5px;
}

form select {
  margin-left: 40px;
}

.form-group {
  margin-bottom: 0;
}

@media (max-width: 666px) {
  form {
    width: 80%;
    margin: 30% 10% 0 10%;
    text-align: center;
  }

  .ui-slider {
    margin: 0 5%;
    width: 90%;
  }

  canvas {
    width: 80%;
    margin: 10%;
    padding: 10px;
  }

  form input[type=text], form select {
    width: 80%;
  }

  .btn {
    width: 80%;
  }
}

@media (max-width: 999px) {
  canvas {
    width: 400px;
    padding: 10px;
    margin: 10%;
  }

  form {
    width: 400px;
    margin: 20% 10% 0 10%;
    text-align: center;
  }

  form input[type=text], form select {
    width: 80%;
  }

  .btn {
    width: 80%;
  }
  #backgroundDiv{
    box-sizing: unset;
  }
}

@media (min-width: 1000px){
  form{
    float: left;
    margin-left: 10%;
  }

  canvas{
    float: right;
    margin-right: 10%;
  }

  #backgroundDiv{
    box-sizing: border-box;
  }
}
